<a href="https://colab.research.google.com/github/a-afful/Biodiversity/blob/master/Does_Gender_Matter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Kaggle username: bal-aafful

In [ ]:
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
from google.colab import files

In [ ]:
train_df = pd.read_csv("https://s3.amazonaws.com/it4ba/R/train.csv")
test_df = pd.read_csv("https://s3.amazonaws.com/it4ba/R/test.csv")

In [ ]:
print(train_df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [ ]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
test_df.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

**Does Gender Matter?**

First, we'll check the male to female ratio

In [ ]:
pd.crosstab(train_df.Sex, columns='count')

col_0   count
Sex
female    314
male      577

As we see, there are more males than females, but which gender had the highest survival rate?

In [ ]:
pd.crosstab(train_df.Survived, train_df.Sex)

Sex       female  male
Survived
0             81   468
1            233   109

In [ ]:
pd.crosstab(train_df.Sex, train_df.Survived, normalize="index")

Survived         0         1
Sex
female    0.257962  0.742038
male      0.811092  0.188908

74% of the females survived, while only about 19% of males survived. With the female survival rate higher, a model to predict that females survive and males don't will be made.

In [ ]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": [1 if x == 'female' else 0 for x in test_df['Sex']]
    })

In [ ]:
# convert datafram to csv file
submission.to_csv('titanic-mc1.csv', index=False)

In [ ]:
files.download('titanic-mc1.csv')

In [ ]:
from PIL import Image

**Submission on Kaggle**

<img src="http://drive.google.com/uc?export=view&id=1ewUrLaRuVLsvZg_GuUOkPVnlNFvK0T_j" alt="Abena Kaggle Submission">